
.titleH {
  font-family:'Courier New', Courier, monospace ;
  font-size: 30px;
  color: #3fee3f;
  font-weight: 400;
}

.tform {
  text-align: center;
  font-size: 30px;
}



a {
  font-family:'Courier New', Courier, monospace ;
  font-size: 20px;
}


