<ion-header [translucent]="true">
  <ion-toolbar color="dark">
    <ion-title class="titleH">
      <b>Growth_Net</b>
    </ion-title>

  </ion-toolbar>

</ion-header>

<ion-content >
  <div >
    <ion-card >
      <ion-card-header>
        <ion-card-title class="tform" color="dark" ><b>Formulário</b></ion-card-title>

      </ion-card-header>

    <ion-card-content   >
      <!--(ngSubmit)="insertdadosForm()"-->
     <form  ng-app="App">
      <a>Intruções Iniciais</a><br>
      <a>*Consulte algum documento que te ajude lembrar das informações a seguir.</a><br>
      <a>*Pode responder para mais de uma cidade ou ano.</a>

        <ion-item title="Local onde você reside!">
          <ion-label for="cidade" position="floating" >Cidade</ion-label>
          <ion-input #inputCidade (ionInput)="inputChanged($event, 'Cidade')" id="cidade" name="cidade" [(ngModel)]="cidade" type="text" placeholder="Ex: Araçuaí" required></ion-input>
        </ion-item>
        <ion-list [hidden]="cidadejs.length <= 0" >
          <ion-item *ngFor="let c of cidadejs"  (click)="selected(c, inputCidade, 'Cidade')">
            {{c}}
          </ion-item>
        </ion-list>

        <ion-item >
          <ion-label for="periodoAcesso" position="floating">Periodo que você fez acesso a internet ?</ion-label>
          <ion-input #inputPeriodoAcesso (ionInput)="inputChanged($event, 'PeriodoAcesso')" id="periodoAcesso" name="periodoAcesso" [(ngModel)]="periodoAcesso" type="text" placeholder="Ex: 2018-2022" required> </ion-input>
        </ion-item>
        <ion-list [hidden]="periodoAcessojs.length <= 0" >
          <ion-item *ngFor="let pa of periodoAcessojs" (click)="selected(pa, inputPeriodoAcesso, 'PeriodoAcesso')">
            {{pa}}
          </ion-item>
        </ion-list>

        <ion-item  title=" A velocidade é medida em megabits por segundo (Mbps) e kilobits por segundo (Kbps)!">
          <ion-label for="velContratada" position="floating"> Qual foi a velocidade contratada ?  </ion-label>
          <ion-input type="text" id="velContratada" name="velContratada" [(ngModel)]="velContratada" placeholder="Ex: De 33Kbps a 108 Kbps" required></ion-input>
        </ion-item><br>


        <ion-item title="Valor pago ao provedor que intermedia a sua conexão com a internet!">
          <ion-label for="valPago" position="floating">Qual era valor pago para utilizar a velocidade contratada:</ion-label>
          <ion-input type="number" id="valPago" name="valPago" [(ngModel)]="valPago" placeholder="Ex: 49.90" required></ion-input>
        </ion-item><br>

        <ion-item title="Nome da empresa resposável por fornecer conexão com a internet aos dispositivos!">
          <ion-label for=" nomeProvedor" position="floating"> Qual o nome do provedor? </ion-label>
          <ion-input #inputProvedor (ionInput)="inputChanged($event, 'Provedor')" type="text" name="nomeProvedor"  [(ngModel)]="nomeProvedor" placeholder="Ex: Byalnet"  required></ion-input>
        </ion-item>
        <ion-list [hidden]="provedor.length <= 0" >
          <ion-item *ngFor="let p of provedor" (click)="selected(p, inputProvedor, 'Provedor')">
            {{p}}
          </ion-item>
        </ion-list>


        <ion-item title="O meio de transmissão de dados serve para oferecer suporte ao fluxo de dados entre dois pontos. Como por exemplo: Fibra Óptica, Rádio, Internet Móvel, Internet Discada . " >
          <ion-label for="meioTransmissao" position="floating">Qual era o meio de transmissão de dados utilizado ?</ion-label>
          <ion-input #inputTransmissao (ionInput)="inputChanged($event, 'Transmissao')" id="meioTransmissao" name="meioTransmissao" [(ngModel)]="meioTransmissao" type="text" placeholder="Ex: Internet Discada" required></ion-input>
        </ion-item>
        <ion-list [hidden]="transmissao.length <= 0" >
          <ion-item *ngFor="let t of transmissao" (click)="selected(t, inputTransmissao, 'Transmissao')">
            {{t}}
          </ion-item>
        </ion-list>

        <ion-item >
          <ion-label for="categoriaEquip" position="floating" placeholder="Ex: Roteador">Qual a categoria do equipamento utilizado ?</ion-label>
          <ion-input #input2 (ionInput)="inputChanged($event, 'Category')"name="categoriaEquip" [(ngModel)]="categoriaEquip"  type="text" placeholder="Ex: Roteador" required></ion-input>
        </ion-item>
        <ion-list [hidden]="equipamento2.length <= 0" >
          <ion-item *ngFor="let item2 of equipamento2" (click)="selected(item2, input2, 'Category')">
            {{item2}}
          </ion-item>
        </ion-list>

        <ion-item title="A marca se refere ao fabricante do equipamento!">
          <ion-label for="marcaEquip" position="floating" >Qual a marca do equipamento utilizado ?</ion-label>
          <ion-input  #input (ionInput)="inputChanged($event, 'Brand')" type="text"  name="marcaEquip" [(ngModel)]="marcaEquip" placeholder="Ex: Tp-link" required></ion-input>
        </ion-item>
        <ion-list [hidden]="equipamento.length <= 0" >
          <ion-item *ngFor="let item of equipamento" (click)="selected(item, input, 'Brand')">
            {{item}}
          </ion-item>
        </ion-list>
        <br>

        <ion-item title="O modelo refere-se ao nome ou número específico desse produto!">
          <ion-label for="modeloEquip" position="floating" >Qual a modelo do equipamento utilizado ?</ion-label>
          <ion-input  #input3 (ionInput)="inputChanged($event, 'Model')" type="text"  name="modeloEquip" [(ngModel)]="modeloEquip" placeholder="Ex: tl-wr740n" required></ion-input>
        </ion-item>
        <ion-list [hidden]="equipamento3.length <= 0" >
          <ion-item *ngFor="let item3 of equipamento3" (click)="selected(item3, input3, 'Model')">
            {{item3}}
          </ion-item>
        </ion-list>
        <br>

        <ion-item>
          <ion-label for="infoAdicionais" position="floating">Informações adicionais referente aos dados inseridos acima.(Opcional)</ion-label>
          <ion-input type="text" id="infoAdicionais" name="infoAdicionais" [(ngModel)]="infoAdicionais"></ion-input>
        </ion-item>

      <ion-button  type="submit" color="primary" size="full"  (click)="verifInput()">Enviar</ion-button>
      <!--<p>{{ handlerMessage }}</p>
      <p>{{ roleMessage }}</p> --->
    </form>



    </ion-card-content>


    </ion-card>


  </div>







</ion-content>
