<ion-header [translucent]="true">
  <ion-toolbar color="dark">
    <ion-title class="titleH">
      <b>Growth_Net</b>
    </ion-title>
    <ion-button slot="primary" color="success" (click)="forms()">Contribuir</ion-button>
  </ion-toolbar>

</ion-header>

<ion-content class="ion-padding">

  <ion-content>


    <ion-item>
      <ion-label position="floating">2</ion-label>
      <ion-input  #input (ionInput)="inputChanged($event, 'Brand')" type="text"  ></ion-input>
    </ion-item>
    <ion-list [hidden]="items.length <= 0" >
      <ion-item *ngFor="let item of items" (click)="selected(item, input)">
        {{item}}
      </ion-item>
    </ion-list>

    <ion-item>
      <ion-label position="floating">3</ion-label>
      <ion-input  #input2 (ionInput)="inputChanged($event, 'Category')" type="text"  ></ion-input>
    </ion-item>
    <ion-list [hidden]="items2.length <= 0" >
      <ion-item *ngFor="let item2 of items2" (click)="selected2(item2, input2)">
        {{item2}}
      </ion-item>
    </ion-list>

  </ion-content>


</ion-content>
